In [1]:
import sqlite3
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [ ]:
conn = sqlite3.connect('data.sqlite3')

In [ ]:
faculties = pd.read_sql_query('''
select * from faculties
''', con=conn)

In [ ]:
usubs = pd.read_sql_query('''
select * from users_subscriptions 
where "type"='page'
''', con=conn)

In [ ]:
ufacs = pd.read_sql_query('''
select * from users_faculties
''', con=conn)

In [ ]:
# remove duplicates
user_fac = ufacs[(~ufacs[['user_id', 'faculty_id']].duplicated())
      & (ufacs['faculty_id'].isin(faculties['id'].astype(str)))
     ][['user_id', 'faculty_id']]

In [ ]:
usubs['user_id'] = usubs['user_id'].astype(int)
user_fac['user_id'] = user_fac['user_id'].astype(int)

In [ ]:
usr_sub_fac = usubs[['user_id', 'subs_id']].merge(user_fac)

In [ ]:
sub_fac = usr_sub_fac[~usr_sub_fac[['faculty_id', 'subs_id']].duplicated()][['faculty_id', 'subs_id']]

In [ ]:
sub_fac

In [ ]:
# sub_fac.to_csv('sub_fac.csv', index=False, encoding='utf-8')

In [96]:
ohe = OneHotEncoder(sparse=False, dtype=int)

In [99]:
labeld = []
result = []

In [100]:
counter = 0
for chunk in pd.read_csv('sub_fac.csv', chunksize=5000):
    print(f'chunk started')
    print(chunk.index)
    chunk = chunk.reset_index(drop=True)
    print(chunk.index)
    fitted = ohe.fit_transform(chunk[['subs_id']])
    labeled = pd.concat([chunk[['faculty_id']].reindex(),
                         pd.DataFrame(fitted, columns=ohe.categories_[0])], axis=1)
    labeld.append(labeled)
    ptable = labeled.pivot_table(index='faculty_id',
                                 values=[c for c in labeled.columns if c != 'faculty_id'], aggfunc='sum')
    #result = pd.concat([result, ptable], sort=True)
    result.append(ptable.reset_index())
    counter += 1
    print('chunk processed. elements: {}\n'.format(len(result)))
#     if counter % 5 == 0:
#         print('\npivoting\n')
#         result = result.pivot_table(index='faculty_id',
#                                    values=[c for c in result.columns if c != 'faculty_id'], aggfunc='sum')

chunk started
RangeIndex(start=0, stop=5000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 1

chunk started
RangeIndex(start=5000, stop=10000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 2

chunk started
RangeIndex(start=10000, stop=15000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 3

chunk started
RangeIndex(start=15000, stop=20000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 4

chunk started
RangeIndex(start=20000, stop=25000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 5

chunk started
RangeIndex(start=25000, stop=30000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 6

chunk started
RangeIndex(start=30000, stop=35000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 7

chunk started
RangeIndex(start=35000, stop=40000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 8

chunk started
RangeIndex(start=40000, stop=45000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 9

chunk started
RangeIndex(start=45000, stop=50000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 10

chunk started
RangeIndex(start=50000, stop=55000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 11

chunk started
RangeIndex(start=55000, stop=60000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 12

chunk started
RangeIndex(start=60000, stop=65000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 13

chunk started
RangeIndex(start=65000, stop=70000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 14

chunk started
RangeIndex(start=70000, stop=75000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 15

chunk started
RangeIndex(start=75000, stop=80000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 16

chunk started
RangeIndex(start=80000, stop=85000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 17

chunk started
RangeIndex(start=85000, stop=90000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 18

chunk started
RangeIndex(start=90000, stop=95000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 19

chunk started
RangeIndex(start=95000, stop=100000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 20

chunk started
RangeIndex(start=100000, stop=105000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 21

chunk started
RangeIndex(start=105000, stop=110000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 22

chunk started
RangeIndex(start=110000, stop=115000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 23

chunk started
RangeIndex(start=115000, stop=120000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 24

chunk started
RangeIndex(start=120000, stop=125000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 25

chunk started
RangeIndex(start=125000, stop=130000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 26

chunk started
RangeIndex(start=130000, stop=135000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 27

chunk started
RangeIndex(start=135000, stop=140000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 28

chunk started
RangeIndex(start=140000, stop=145000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 29

chunk started
RangeIndex(start=145000, stop=150000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 30

chunk started
RangeIndex(start=150000, stop=155000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 31

chunk started
RangeIndex(start=155000, stop=160000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 32

chunk started
RangeIndex(start=160000, stop=165000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 33

chunk started
RangeIndex(start=165000, stop=170000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 34

chunk started
RangeIndex(start=170000, stop=175000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 35

chunk started
RangeIndex(start=175000, stop=180000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 36

chunk started
RangeIndex(start=180000, stop=185000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 37

chunk started
RangeIndex(start=185000, stop=190000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 38

chunk started
RangeIndex(start=190000, stop=195000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 39

chunk started
RangeIndex(start=195000, stop=200000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 40

chunk started
RangeIndex(start=200000, stop=205000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 41

chunk started
RangeIndex(start=205000, stop=210000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 42

chunk started
RangeIndex(start=210000, stop=215000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 43

chunk started
RangeIndex(start=215000, stop=220000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 44

chunk started
RangeIndex(start=220000, stop=225000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 45

chunk started
RangeIndex(start=225000, stop=230000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 46

chunk started
RangeIndex(start=230000, stop=235000, step=1)
RangeIndex(start=0, stop=5000, step=1)
chunk processed. elements: 47

chunk started
RangeIndex(start=235000, stop=236967, step=1)
RangeIndex(start=0, stop=1967, step=1)
chunk processed. elements: 48

In [104]:
allin = pd.concat(result, sort=True).fillna(0)

In [107]:
allin = allin.pivot_table(index='faculty_id',
                         values=[c for c in allin.columns if c != 'faculty_id'], aggfunc='sum')

In [112]:
allin = allin.reset_index()

In [160]:
allin.to_csv('pivot_ohenot.csv', index=False)

In [150]:
allin = allin.astype(int)

In [152]:
clf = GaussianNB()

In [153]:
allin_x = allin.drop(columns='faculty_id')
allin_y = allin['faculty_id']

In [154]:

X_train, X_test, y_train, y_test = train_test_split(allin_x, allin_y)

In [171]:
clf.fit(X_train, y_train)

In [172]:
clf.score(X_test, y_test)

0.0

In [167]:
clf.predict([X_test.loc[X_test.index[0]]])

array([2231285])

In [168]:
y_test

32    2266965
0        2470
10     203338
4        2961
20    2173844
25    2231268
9      106511
31    2231790
28    2231283
Name: faculty_id, dtype: int32

In [169]:
allin

,faculty_id,27,28,30,41,47,65,83,158,159,...,202723727,202729930,202737287,202741307,202785068,202805101,202805887,202805889,202820900,202839873
0,2470,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2951,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,2957,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2959,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2961,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,2973,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,20422,0,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,40378,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,40773,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,106511,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,203338,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,623655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1034731,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2139043,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,2139044,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
15,2139051,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,2139211,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2161061,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2161062,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
19,2161063,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2173844,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2174103,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2218244,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
23,2223186,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,2231267,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25,2231268,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2231275,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2231276,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2231283,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,2231284,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2231285,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,2231790,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,2266965,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,2266966,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [170]:
from sklearn.linear_model import LogisticRegression

In [193]:
logreg = LogisticRegression()

In [174]:
from sklearn.decomposition import PCA

In [187]:
pca = PCA()

In [188]:
pca.fit(X_train)

PCA()

In [190]:
pca.n_components_

25

In [191]:
PCAX_train = pca.transform(X_train)

In [192]:
PCAX_test = pca.transform(X_test)

In [194]:
logreg.fit(PCAX_train, y_train)

LogisticRegression()

In [195]:
logreg.score(PCAX_test, y_test)

0.0

In [196]:
logreg.predict(PCAX_test)

array([2231285, 2161061, 2231285, 2231276, 2139044, 2231285,    2951,
       2218244, 2231285])

In [197]:
y_test

32    2266965
0        2470
10     203338
4        2961
20    2173844
25    2231268
9      106511
31    2231790
28    2231283
Name: faculty_id, dtype: int32

In [3]:
fac_sub = pd.read_csv('fac_sub.csv')

In [4]:
subs = fac_sub.drop(columns='faculty_id')

In [11]:
ohe = OneHotEncoder(categories=subs.columns,
                   sparse=False,
                    dtype=int,
                   handle_unknown='ignore')

In [12]:
ohe

OneHotEncoder(categories=Index(['27', '28', '41', '47', '65', '272', '299', '337', '439', '442',
       ...
       '202588677', '202591514', '202597077', '202632157', '202663824',
       '202682637', '202701885', '202729930', '202737287', '202839873'],
      dtype='object', length=44998),
              dtype=<class 'int'>, handle_unknown='ignore', sparse=False)

In [13]:
import pickle

In [14]:
with open('ohe_subs.pickle', 'wb') as f:
    pickle.dump(ohe, f)

In [19]:
list(ohe.categories)

['27',
 '28',
 '41',
 '47',
 '65',
 '272',
 '299',
 '337',
 '439',
 '442',
 '516',
 '613',
 '765',
 '828',
 '851',
 '932',
 '983',
 '1118',
 '1552',
 '1670',
 '1959',
 '1980',
 '2002',
 '2251',
 '2805',
 '2856',
 '2904',
 '3168',
 '3305',
 '4097',
 '4326',
 '4391',
 '4569',
 '4829',
 '5333',
 '5562',
 '5726',
 '6039',
 '6386',
 '6585',
 '6783',
 '7057',
 '7275',
 '8564',
 '9117',
 '9225',
 '9525',
 '9720',
 '9768',
 '9928',
 '10405',
 '11614',
 '11787',
 '11814',
 '11817',
 '11999',
 '12390',
 '14114',
 '14825',
 '15898',
 '16685',
 '17036',
 '17228',
 '17708',
 '17835',
 '18257',
 '19038',
 '21142',
 '25176',
 '25457',
 '25624',
 '27771',
 '29346',
 '30281',
 '31687',
 '35005',
 '35408',
 '37323',
 '37756',
 '41524',
 '41812',
 '42959',
 '45130',
 '45734',
 '46526',
 '47987',
 '48107',
 '48350',
 '48564',
 '48864',
 '48978',
 '49648',
 '49784',
 '52105',
 '53269',
 '53474',
 '54079',
 '56677',
 '57716',
 '61972',
 '63273',
 '64348',
 '65860',
 '66298',
 '68526',
 '69915',
 '69961',
 '77296',
 '78759',
 '78811',
 '79588',
 '81253',
 '81419',
 '82320',
 '85330',
 '89493',
 '89931',
 '99052',
 '100235',
 '106070',
 '107968',
 '108468',
 '109245',
 '110163',
 '111181',
 '111651',
 '120879',
 '121768',
 '123251',
 '123856',
 '124769',
 '130553',
 '134659',
 '137852',
 '139114',
 '139795',
 '141829',
 '143089',
 '144592',
 '150543',
 '152718',
 '156922',
 '157879',
 '158761',
 '159348',
 '159882',
 '160903',
 '171553',
 '175330',
 '175940',
 '177194',
 '181388',
 '183079',
 '185911',
 '187643',
 '190274',
 '190902',
 '191869',
 '192250',
 '193175',
 '198644',
 '202997',
 '207755',
 '208646',
 '209430',
 '209588',
 '210528',
 '211740',
 '216796',
 '220664',
 '221140',
 '223941',
 '225666',
 '227065',
 '234724',
 '236326',
 '239579',
 '239594',
 '248635',
 '250159',
 '251591',
 '251628',
 '252821',
 '258218',
 '259603',
 '262340',
 '262795',
 '266415',
 '268980',
 '270061',
 '272049',
 '272187',
 '278071',
 '284526',
 '284931',
 '285658',
 '286577',
 '288131',
 '288344',
 '291425',
 '294312',
 '299962',
 '302937',
 '303439',
 '305591',
 '309272',
 '310205',
 '318433',
 '325506',
 '335406',
 '336146',
 '337093',
 '344600',
 '346191',
 '348403',
 '349960',
 '352896',
 '354372',
 '356220',
 '362801',
 '364700',
 '364976',
 '365891',
 '370869',
 '373861',
 '374779',
 '381109',
 '381524',
 '383476',
 '389295',
 '391619',
 '393486',
 '395224',
 '400863',
 '406973',
 '408576',
 '408869',
 '412869',
 '415337',
 '417060',
 '421479',
 '426380',
 '427634',
 '429842',
 '432094',
 '434532',
 '435853',
 '439254',
 '446821',
 '448331',
 '451567',
 '460389',
 '469318',
 '486026',
 '490843',
 '511194',
 '513477',
 '515551',
 '516240',
 '520125',
 '537764',
 '544608',
 '548314',
 '550910',
 '553179',
 '565095',
 '567684',
 '568947',
 '572618',
 '591470',
 '592446',
 '601428',
 '601624',
 '609439',
 '610660',
 '614179',
 '628790',
 '636950',
 '643780',
 '647270',
 '661538',
 '670821',
 '674342',
 '675639',
 '679568',
 '690008',
 '691335',
 '691737',
 '691873',
 '708293',
 '708847',
 '724057',
 '732033',
 '733363',
 '742627',
 '743290',
 '744103',
 '747833',
 '750365',
 '752654',
 '754361',
 '756482',
 '768543',
 '771707',
 '776822',
 '780218',
 '784331',
 '790272',
 '793457',
 '800195',
 '808839',
 '810087',
 '813008',
 '822415',
 '837130',
 '845418',
 '847771',
 '865727',
 '877283',
 '906090',
 '906888',
 '954975',
 '957874',
 '958593',
 '967000',
 '976368',
 '978960',
 '984272',
 '989231',
 '998490',
 '1005878',
 '1017399',
 '1023421',
 '1030846',
 '1044744',
 '1046385',
 '1049582',
 '1055414',
 '1056942',
 '1072325',
 '1092520',
 '1105969',
 '1106082',
 '1112285',
 '1127380',
 '1131793',
 '1136432',
 '1136859',
 '1141987',
 '1143286',
 '1152804',
 '1155754',
 '1163441',
 '1169693',
 '1176483',
 '1177142',
 '1179772',
 '1191183',
 '1192008',
 '1194710',
 '1204802',
 '1210360',
 '1212827',
 '1214279',
 '1224089',
 '1233367',
 '1239834',
 '1240099',
 '1248637',
 '1253222',
 '1256753',
 '1257180',
 '1257785',
 '1269905',
 '1273675',
 '1274369',
 '1275834',
 '1290236',
 '1296188',
 '1303423',
 '1310537',
 '1331201',
 '1331939',
 '1366355',
 '1369116',
 '1380198',
 '1383173',
 '1391761',
 '1392694',
 '1392868',
 '1392957',
 '1401113',
 '1404118',
 '1415705',
 '1424927',
 '1443873',
 '1480215',
 '1485710',
 '1491009',
 '1502457',
 '1515168',
 '1521300',
 '1527856',
 '1536515',
 '1539624',
 '1558740',
 '1566053',
 '1575624',
 '1578815',
 '1610020',
 '1612490',
 '1615374',
 '1616899',
 '1620735',
 '1623507',
 '1623526',
 '1624971',
 '1634368',
 '1672730',
 '1679885',
 '1685159',
 '1691385',
 '1715207',
 '1719791',
 '1719795',
 '1733247',
 '1736115',
 '1739763',
 '1743189',
 '1744988',
 '1773864',
 '1778151',
 '1779412',
 '1792796',
 '1794323',
 '1815893',
 '1835300',
 '1837739',
 '1872233',
 '1874914',
 '1877884',
 '1884027',
 '1892661',
 '1900057',
 '1911019',
 '1919329',
 '1931574',
 '1945409',
 '1946517',
 '1966933',
 '1975165',
 '2000200',
 '2002631',
 '2023216',
 '2047807',
 '2051729',
 '2053149',
 '2064137',
 '2067195',
 '2068265',
 '2069553',
 '2084897',
 '2088122',
 '2089898',
 '2093129',
 '2101150',
 '2117838',
 '2127006',
 '2129309',
 '2139527',
 '2146360',
 '2151104',
 '2158488',
 '2168980',
 '2173597',
 '2176205',
 '2180158',
 '2204884',
 '2233218',
 '2252375',
 '2290472',
 '2300820',
 '2303238',
 '2310149',
 '2313446',
 '2329696',
 '2333724',
 '2336659',
 '2354381',
 '2359881',
 '2363051',
 '2383551',
 '2389114',
 '2418766',
 '2422040',
 '2427403',
 '2446959',
 '2459741',
 '2484408',
 '2485707',
 '2486483',
 '2522754',
 '2573409',
 '2579489',
 '2592225',
 '2597128',
 '2601292',
 '2627553',
 '2661911',
 '2670541',
 '2672569',
 '2677092',
 '2680066',
 '2687724',
 '2688137',
 '2698299',
 '2698666',
 '2731354',
 '2748572',
 '2773912',
 '2784806',
 '2789767',
 '2880122',
 '2922646',
 '2939105',
 '2972293',
 '2980565',
 '3005601',
 '3063177',
 '3080166',
 '3113588',
 '3120038',
 '3166004',
 '3166277',
 '3183750',
 '3195582',
 '3259769',
 '3261980',
 '3278480',
 '3291025',
 '3384106',
 '3415661',
 '3423927',
 '3425667',
 '3430819',
 '3431171',
 '3473437',
 '3495453',
 '3510887',
 '3530933',
 '3551694',
 '3560737',
 '3562676',
 '3569784',
 '3574290',
 '3581843',
 '3584343',
 '3603176',
 '3607880',
 '3619521',
 '3625261',
 '3642414',
 '3644338',
 '3644730',
 '3653319',
 '3656533',
 '3660240',
 '3669034',
 '3683814',
 '3712078',
 '3732706',
 '3739369',
 '3741411',
 '3748375',
 '3752402',
 '3754813',
 '3769348',
 '3769394',
 '3795971',
 '3799552',
 '3800580',
 '3807937',
 '3809880',
 '3814472',
 '3814546',
 '3817390',
 '3821228',
 '3840268',
 '3840605',
 '3850195',
 '3855883',
 '3861590',
 '3868547',
 '3874591',
 '3877907',
 '3880484',
 '3900734',
 '3929260',
 '3948346',
 '3948544',
 '3949880',
 '3954365',
 '3957376',
 '3958182',
 '3984083',
 '4004833',
 '4012608',
 '4024629',
 '4070078',
 '4070797',
 '4077815',
 '4087918',
 '4093705',
 '4100014',
 '4104097',
 '4140325',
 '4141467',
 '4150139',
 '4181970',
 '4192088',
 '4201439',
 '4221871',
 '4239561',
 '4268499',
 '4290276',
 '4300457',
 '4310395',
 '4323804',
 '4325149',
 '4327437',
 '4330630',
 '4344656',
 '4355790',
 '4367906',
 '4404948',
 '4417137',
 '4425938',
 '4429782',
 '4431999',
 '4451106',
 '4457985',
 '4489985',
 '4498327',
 '4503260',
 '4505026',
 '4509806',
 '4515607',
 '4529580',
 '4537617',
 '4539002',
 '4547657',
 '4553556',
 '4556674',
 '4583542',
 '4587548',
 '4589368',
 '4603016',
 '4631795',
 '4634037',
 '4634286',
 '4705071',
 '4764305',
 '4808406',
 '4816920',
 '4828805',
 '4837126',
 '4867579',
 '4887563',
 '4908135',
 '4913372',
 '4921329',
 '4922825',
 '4925292',
 '4939253',
 '4949968',
 '4970201',
 '4978711',
 '4981983',
 '5014477',
 '5016406',
 '5083945',
 '5090309',
 '5115695',
 '5119098',
 '5155664',
 '5171884',
 '5184003',
 '5199600',
 '5222806',
 '5231976',
 '5240832',
 '5251193',
 '5256555',
 '5258474',
 '5267774',
 '5283580',
 '5283865',
 '5294174',
 '5374734',
 '5395318',
 '5425797',
 '5445504',
 '5453614',
 '5458184',
 '5499678',
 '5519373',
 '5533281',
 '5569423',
 '5569930',
 '5580587',
 '5603609',
 '5629246',
 '5630586',
 '5650095',
 '5657861',
 '5670041',
 '5670814',
 '5683004',
 '5686977',
 '5724208',
 '5743052',
 '5766469',
 '5767501',
 '5768496',
 '5770863',
 '5774921',
 '5794036',
 '5838365',
 '5849054',
 '5851101',
 '5858244',
 '5880263',
 '5910601',
 '5951602',
 '5975616',
 '5976846',
 '5982538',
 '5984561',
 '6029521',
 '6034342',
 '6106568',
 '6116144',
 '6159621',
 '6160024',
 '6166364',
 '6180940',
 '6203732',
 '6227159',
 '6257812',
 '6267384',
 '6277375',
 '6283158',
 '6289070',
 '6294203',
 '6317671',
 '6327606',
 '6349584',
 '6359845',
 '6365519',
 '6367408',
 '6375949',
 '6384628',
 '6425124',
 '6437840',
 '6453461',
 '6464818',
 '6466275',
 '6486134',
 '6535582',
 '6538123',
 '6538533',
 '6542519',
 '6548330',
 '6573015',
 '6584929',
 '6585076',
 '6588737',
 '6629831',
 '6630338',
 '6632627',
 '6642150',
 '6642268',
 '6714391',
 '6732583',
 '6773389',
 '6775532',
 '6827569',
 '6836664',
 '6836787',
 '6877026',
 '6886790',
 '6900205',
 '6912839',
 '6925581',
 '6929920',
 '6934603',
 '6936957',
 '6939965',
 '6948211',
 '6950330',
 '7026242',
 '7032554',
 '7037976',
 '7081316',
 '7113844',
 '7144938',
 '7171452',
 '7178228',
 '7200083',
 '7202252',
 '7206469',
 '7210865',
 '7211173',
 '7225883',
 '7227203',
 '7260476',
 '7262763',
 '7270225',
 '7283785',
 '7308075',
 '7313507',
 '7314792',
 '7318242',
 '7355956',
 '7360984',
 '7375608',
 '7390517',
 '7392748',
 '7425815',
 '7443629',
 '7463178',
 '7469188',
 '7523486',
 '7537239',
 '7559140',
 '7588671',
 '7590393',
 '7601853',
 '7612060',
 '7638608',
 '7660791',
 '7661408',
 '7669591',
 '7685226',
 '7698369',
 '7715590',
 '7736865',
 '7743993',
 '7763406',
 '7768848',
 '7770391',
 '7815455',
 '7855286',
 '7864513',
 '7875432',
 '7876066',
 '7876875',
 '7901793',
 '7905919',
 '7911017',
 '7916788',
 '7920138',
 '7921925',
 '7928068',
 '7952593',
 '7953996',
 '7955306',
 '7978861',
 '7984081',
 '7995106',
 '8062320',
 '8085037',
 '8085055',
 '8109175',
 '8117600',
 '8132626',
 '8136263',
 '8149732',
 '8152398',
 '8158243',
 '8162550',
 '8163141',
 '8174918',
 '8178529',
 '8204282',
 '8204653',
 '8241519',
 '8247235',
 '8251260',
 '8261308',
 '8314728',
 '8395761',
 '8404416',
 '8464185',
 '8519001',
 '8557580',
 '8563486',
 '8575126',
 '8575974',
 '8601479',
 '8615582',
 '8657984',
 '8665910',
 '8666387',
 '8678185',
 '8679219',
 '8711834',
 '8718584',
 '8722610',
 '8738865',
 '8743169',
 '8758668',
 '8782147',
 '8782532',
 '8790658',
 '8793159',
 '8808126',
 '8814453',
 '8826737',
 '8830376',
 '8830886',
 '8833162',
 '8862419',
 '8891664',
 '8939162',
 '8942793',
 '8990471',
 '8993621',
 '8999834',
 '9038104',
 '9046814',
 '9070166',
 '9070569',
 '9073074',
 '9084693',
 '9117782',
 '9118132',
 '9125493',
 '9135837',
 '9146566',
 '9161937',
 '9170627',
 '9173380',
 '9186079',
 '9191603',
 '9213619',
 '9222155',
 '9223119',
 '9224385',
 '9244220',
 '9250149',
 '9258253',
 '9273458',
 '9316473',
 '9323578',
 '9325174',
 '9344236',
 '9344854',
 '9355452',
 '9359489',
 '9393338',
 '9396889',
 '9399959',
 '9410437',
 '9414600',
 '9416253',
 '9426412',
 '9432450',
 '9433380',
 '9442930',
 '9464801',
 '9466381',
 '9471321',
 '9471612',
 '9472771',
 '9496034',
 '9536235',
 '9543834',
 '9547979',
 '9561087',
 '9576672',
 '9581149',
 '9583165',
 '9616224',
 '9626346',
 '9657643',
 '9662860',
 '9663751',
 '9683873',
 '9688001',
 '9693056',
 '9695053',
 '9697305',
 '9725775',
 '9730385',
 '9745715',
 '9746634',
 '9747311',
 '9753160',
 '9753854',
 ...]